:root {
    --base-color: #92C018;
    --primary: #4074F9;
    --bs-progress-bar-bg: #4074F9;
    --font-family: 'SVN-Poppins', sans-serif;
    --width-app: 460px
}


@font-face {
    font-family: 'SVN-Poppins';
    font-style: italic;
    font-weight: normal;
    src: url("../SVN-popin/SVN-Poppins-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'SVN-Poppins';
    font-style: italic;
    font-weight: bold;
    src: url("../SVN-popin/SVN-Poppins-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'SVN-Poppins';
    font-style: italic;
    font-weight: 500;
    src: url("../SVN-popin/SVN-Poppins-Regular.ttf") format("truetype");
}
*{
    font-family: var(--font-family);
    box-sizing: border-box; outline: none;
}

.detail-img img {
    width: 100%;
    object-fit: cover;
}

.detail-img img {
}

.modal-header {
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
body {
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.wrapper {
    max-width: var(--width-app);
    margin: 0 auto;
    background: #fff;
}

header#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

div#user {
    background: #FFF4DB;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
}

div#user img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

div#user .name {
    font-weight: bold;
}

.standard {
    background: #FCB819;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 12px;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.banner .img img {
    width: 100%;
}

.banner .img {}

.products {
    background: #fde44e;
    padding: 30px 15px;
}

.title-pro {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pro-list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.pro-item {
    width: calc(50% - 7px);
    background: #fff;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

.pro-item img {
    height: 125px;
    width: 100%;
    object-fit: cover;
}

.pro-item .title {
    font-weight: bold;
    line-height: 20px;
}

.pro-item .price {
    color: #E02D3C;
    font-weight: bold;
}

.old-price {
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0;
    color: #656E7E;
    position: relative;
    display: inline-block;
    text-decoration: line-through;
}

.old-price .discount {
    position: absolute;
    right: -45px;
    top: 1px;
    background: #E02D3C;
    color: #fff;
    padding: 1px 4px;
    border-radius: 5px;
}

.pro-item .sold {
    font-weight: bold;
    color: #656E7E;
}

.pro-item .process {
    background: #FEF1E6;
    height: 12px;
    border-radius: 10px;
    margin: 3px 0;
}

.process-active {
    background: linear-gradient(135deg, #FF861D 0%, #F85F2E 31.43%, #F58A28 58.34%, #F24722 100%);
    height: 100%;
    border-radius: 10px;
}

footer#footer {
    padding: 20px 15px;
}

img.logo-footer {
    width: 140px;
}

.info-company h2 {
    font-size: 18px;
    font-weight: bold;
}

.info-company p {
    margin: 5px 0;
    font-size: 14px;
}

.location .item {
    display: flex;
    gap: 6px;
    margin-top: 5px;
    font-weight: bold;
}

.location .item span {
    color: #2C3649;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu-footer .menu-item {
    width: calc(50% - 5px);
}

.menu-footer .menu-item p {
    margin: 5px;
}

.menu-item h3 {
    margin-bottom: 5px;
}

.menu-footer .menu-item p a {
    color: #000;
    text-decoration: none;
}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.number-input {
    -moz-appearance:textfield; /* Firefox */
}

.input-number {
    FONT-WEIGHT: 200;
    border: 1.5px solid #E8EAED;
    width: fit-content;
    border-radius: 6px;
    height: 40px;
}

.custom-btn-number {
    border: none;
    background: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

input.number-input {
    border: none;
    width: 60px;
    text-align: center;
    height: 40px;
    font-weight: bold;
}

.cart-item .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.cart-item .amount .tht {
    display: flex;
    flex-direction: column;
}

.cart-item .amount .tht span {
    font-size: 13px;
}

.cart-item {
    border-top: 1px solid #E8EAED;
    border-bottom: 1px solid #E8EAED;
    padding: 20px;
}

.cart-item .sp {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cart-item .sp img {
    width: 100px;
    height: 80px;
    border-radius: 6px;
    object-fit: cover;
}

.cart-item .ct h5 {
    margin-top: 0;
    margin-bottom: 3px;
}

.head-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.delete-cart {
    color: #E02D3C;
    cursor: pointer;
}

.to-back {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

.total-price {
    border-top: 1px solid #ccc;
    padding: 15px;
}

.total-price .t {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}

.total-price .t strong {
    font-size: 17px;
}

.btn-main {
    display: block;
    border-radius: 8px;
    background: #FCB819;
    border: none;
    color: #fff;
    padding: 14px;
    width: 100%;
}

.list-cart {
    height: calc(100vh - 254px);
    overflow-y: scroll;
}
.form-input {
    width: 100%;
    display: block;
    height: 45px;
    border: 1px solid #B9BFC9;
    border-radius: 8px;
    padding: 5px 10px;
}

.form-control label {
    margin-bottom: 5px;
    display: block;
}

.form-control {
    margin-bottom: 12px;
}

.ship-info {
    padding: 15px;
}

.cart-show .item {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.cart-show .item img {
    width: 80px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.cart-show .item .sl {
    font-size: 12px;
}

.cart-show .title {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px;
}

.cart-show .title span {
    font-size: 12px;
}

.total-tt {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.total-tt strong {
    color: #E02D3C;
    font-size: 16px;
}
.pay-now {
    padding: 15px;
}
.pay-box{
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 20px;
}
.form-radio-select {
    display: flex;
    gap: 15px;
}
.modal-app{
    position: fixed;
    bottom: 0;
    display: none;
    width: var(--width-app);
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,.3);
    height: 100%;
}
.modal-app.active{
    display: block;
}
.modal-app .modal-content {
    background: #fff;
    height: calc(100% - 60px);
    z-index: 999;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.back-drop{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: absolute;
    z-index: 99;
}
.wrap-modal{
    position: relative;
    width: 100%;
    height: 100%;
}
.modal-body {
    height: calc(100% - 52px);
    overflow-y: auto;
    padding-bottom: 30px;
}

.add-cart {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-add-cart {
    width: 40%;
}
.detail-ct{
    padding: 15px;
}
#close-modal{
    cursor: pointer;
}
.rate-sl {
    display: flex;
    gap: 12px;
    margin: 8px 0;
}

.price-d {
    display: flex;
    position: relative;
    gap: 10px;
    display: inline-flex;
}

.price-d strong {
    color: #E02D3C;
    font-weight: bold;
}

.price-d span {
    text-decoration: line-through;
    color: #656E7E;
}

.price-d .discount {
    position: absolute;
    right: -42px;
    top: -2px;
    background: #E02D3C;
    color: #fff;
    padding: 1px 4px;
    border-radius: 5px;
}

.title-detail {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
}
